<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">    

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="wrapper">
        <div id="app">
            <main>

                <div class="sidebar">

                    <div class="sidebarMenu">

                        <div class="userInfo">

                            <a href="">

                                <div class="userPicture">
                                    <img src="img/avatar_1.jpg" alt="*Your username*">
                                </div> <!-- /userPicture-->
        
                                <h4 class="userName">Sofia</h4>

                            </a>

                        </div> <!-- /userInfo-->

                        <nav class="navbar">
                            <ul>
                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-circle-notch"></i></button>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-message"></i></button>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div> <!-- /sidebarMenu-->


                    <div class="notificationsBanner">

                        <span class="notificationBannerIcon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>

                        <div class="textContainer">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <button>Attiva notifiche per desktop</button>
                        </div>

                    </div> <!-- /notificationsBanner-->


                    <div class="searchBarContainer">

                        <div class="searchBar">

                            <span><i class="fa-solid fa-magnifying-glass"></i></span>

                            <input type="text" placeholder="Cerca o inizia una nuova chat">

                        </div> <!-- /searchBar-->

                    </div> <!-- /searchBarContainer-->


                    <div class="chatList">

                        <ul>

                            <li v-for="(contact, index) in contacts" @click="openChat(contact, index)" :class="(index == currentActiveChat) ? ('active') : ('')">
                                <div class="iconContainer">

                                    <div class="userPicture">
                                        <img  alt="*Your username*" :src="assembleSrc(index)">
                                    </div> <!-- /userPicture-->

                                </div> <!-- /iconContainer-->


                                <div class="chatInfo">

                                    <h4 class="contactName">{{ contact.name }}</h4>

                                    <span class="lastMsgPreview">
                                        {{ getLastMsg(contact) }}
                                    </span>

                                </div> <!-- /chatInfo-->


                                <div class="timeContainer">
                                    {{ getLastMsgTime(contact) }}
                                </div> <!-- /timeContainer-->
                            </li>

                        </ul>
                        
                    </div> <!-- /chatList-->

                </div> <!-- /sidebar-->


                <div class="chatPanel">

                    <header class="chatHeader">

                        <div class="headerChatInfo">

                            <a href="">

                                <div class="userPicture">
                                    <img src="img/avatar_1.jpg" alt="Nome utente">
                                </div> <!-- /userPicture-->
        
                                <div class="chatInfo">

                                    <h4 class="contactName">Michele</h4>

                                    <span class="lastAccess">
                                        Ultimo accesso oggi alle 12.30
                                    </span>

                                </div> <!-- /chatInfo-->

                            </a>

                        </div> <!-- /chatHeaderInfo-->

                        <nav class="navbar">
                            <ul>
                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-paperclip"></i></i></button>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </header> <!-- /chatHeader-->


                    <div class="chatContent">

                        <span class="message" v-for="currentMessage in currentMessagesList" :class="(checkMsgStatus(currentMessage)) ? ('sent') : ('received')">{{ currentMessage.message }}</span>
                        
                    </div> <!-- /chatContent-->


                    <div class="chatInput">

                        <button><i class="fa-regular fa-face-smile"></i></button>

                        <input type="text" placeholder="Scrivi un messaggio">

                        <button><i class="fa-solid fa-microphone"></i></button>

                    </div> <!-- /chatInput-->

                </div> <!-- /chatPanel-->

            </main>
        </div> <!-- /app-->
    </div> <!-- /wrapper-->
    
    <!-- Script | Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>